* {
    max-width: 980px;
    margin: auto;
}
.layout {
    width: 980px;
    height: 870px;
    margin: 0;
}
.main {
    width: 980px;
    height: 160px;
    background: #fdfbfb;
    padding-left: 50px;
    padding-top: 10px;
    
}

/* menu */
#menu {
    height: 35px;
    line-height: 35px;
    background-color: #075a7a;
    display: flex;
    padding: 0 10px;
}
#menu li {
    list-style-type: none;
}
/* #menu li:hover {
    background-color: red;
} */
.border {
     border-right: solid 1px #fff;
     padding-right: 8px;
}
#menu li a {
    text-decoration: none;
    color: #fff;
}
/* content */
.content {
    display: flex;
}
.top {
    padding: 32px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.flex-w {
    padding: 5px;
    width: 60%;
    margin-right: 18%;
}
select {
    padding: 5px;
    margin: 0;
    width: 62%;
    margin-right: 18%;
}

/* left */
.left {
    flex: 2;
    margin-left: 15px;
    
}
.title {
    padding: 20px 0;
}
.form-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 165px;
}
.two {
    margin-right: 10px;
}
.button {
    text-align: end;
    margin-right: 18%;
    padding-top: 40px;
}
button {
    padding: 5px 20px;
    color: red;
    background-color: #ccc;
    cursor: pointer;
}
/* img */
.content-border {
    border-bottom: solid 1px #075a7a ;
    width: 95%;
}
.footer-img {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.center {
    text-align: center;
}
.border-two {
    margin-top: 35px;
    border-top: solid 1px #075a7a ;
}
/* footer */
.footer-content {
    padding: 30px 0;

}
